/* ================================
HEADER
================================ */

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:16px 30px;
  background:#0b1f3a;
  color:white;
  position:relative;
  z-index:1000;
}

.logo{
  font-size:1.2rem;
  border: 1px solid white;
}

/* ================================
DESKTOP NAV
================================ */

.nav-desktop{
  display:flex;
  gap:5px;
}

.nav-desktop a{
  color:white;
  text-decoration:none;
  font-size: 10px;
}

/* ================================
HAMBURGER
================================ */

.hamburger{
  display:none;
  font-size:22px;
  cursor:pointer;
}

/* ================================
MOBILE SIDEBAR
================================ */


.mobile-menu{

  position:fixed;

  top:100px;          /* below header */
  right:0;

  width:120px;
  max-width:80%;

  background:#0b1f3a;

  padding:20px;

  display:flex;
  flex-direction:column;
  gap:14px;

  transform:translateX(110%);   /* hidden */

  transition:transform 0.3s ease;

  z-index:999;
}

/* open state */

.mobile-menu.open{
  transform:translateX(0);
}

/* links */

.mobile-menu a{
  color:rgb(255, 255, 255);
  text-decoration:none;
  font-size:0.95rem;
}

/* open state */

.mobile-menu.open{
  right:0px;
}

/* ============================
LOGO SECTION
============================ */

.logo-section{
  display:flex;
  align-items:center;
  gap:10px;
}

/* logo image */

.logo-img{
  width:100px;
  height:40px;
  object-fit:contain;
}

/* title */

.logo-text{
  font-size:1.2rem;
  font-weight:600;
  color:white;
}
/* ================================
RESPONSIVE
================================ */




@media(max-width:768px){

  .nav-desktop{
    display:none;
  }

  .hamburger{
    display:block;
  }

}

@media(max-width:480px){

.logo-img{
  width:88px;
  height:70px;
}

.logo-text{
  font-size:18px;
}

}